

/* App.css */
.header {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.time-btn {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

.time-btn:first-child {
  background-color: #d3d3d3; 
}

.time-btn:nth-child(2) {
  background-color: #87ceeb; 
}


.time-btn:nth-child(3) {
  background-color: #a9a9a9; 
}

.info-btn {
  width: 30px; /* Width of the button */
  height: 30px; /* Height of the button, equal to the width for a circle */
  padding: 5px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold; /* Makes the 'i' more prominent */
  border-radius: 50%; /* Ensures the shape is circular */
  border: 2px solid #000; /* Creates a border around the button */
  background-color: #f0f0f0; /* Match the header background or choose another color */
  cursor: pointer;
  display: flex; /* Use flexbox to center the content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Centers the 'i' text */
  line-height: 1; /* Adjusts the line height to vertically center the 'i' */
}


.navigation {
  display: flex;
  justify-content: flex-end; /* Aligns items to the end of the container */
}


.options-btn {
  padding: 5px 10px;
}

.timeline-container {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}

.timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 0;
}

.time-interval {
  position: relative;
}

.markers {
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.marker {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}


.hamburger-btn {
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger-btn .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: 0.3s;
}
